
<!-- ----- début fragmentVaccinationMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router2.php?action=VaccinationAccueil">THIBAULT Ambroise / THIBAULT Nathan</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=vaccinReadAll">Liste des vaccins</a></li>  
                    <li><a href="router2.php?action=vaccinCreate">Ajout d'un vaccin</a></li>
                    <li><a href="router2.php?action=vaccinReadId&target=vaccinUpdated">Mise à jour d'un vaccin</a></li>
                </ul>
            </li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">Gestion des centres<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=centreCreate">Ajout d'un centre</a></li> 
                    <li><a href="router2.php?action=centreReadAll">Liste des centres</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">Gestion des patients<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=patientCreate">Ajout d'un patient</a></li>  
                    <li><a href="router2.php?action=patientReadAll">Liste des patients</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des stocks<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=stockReadAll">Liste des centres avec le nombre de doses de chaque vaccin</a></li>
                    <li><a href="router2.php?action=stockGetCount">Nombre global de doses des centres</a></li>
                    <li><a href="router2.php?action=stockAdd">Attribution de vaccins pour un centre</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=rendezVousReadPatient&target=rendezVousGestionDossier">Dossier de vaccination d'un patient</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Innovations<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=vaccinReadId&target=vaccinRemove">Enlever un vaccin</a></li>
                    <li><a href="router2.php?action=stockTransfer">Transfert de stock</a></li>
                    <li><a href="router2.php?action=rendezVousReadPatient&target=centreReadCentre">Choisir un vaccin</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentVaccinationMenu -->

